<div class="modal-content">
    <!--Header-->
    <div class="modal-header">
        <p class="heading lead">SUCCESS</p>
        <a type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true" class="white-text">&times;</span>
        </a>
    </div>

    <!--Body-->
    <div class="modal-body">
        <div class="text-center">
            <mdb-icon fas icon="check" size="4x" class="mb-3 animated rotateIn"></mdb-icon>
            <p class="lead" [translate]="contentText" [translateParams]="{typeDDIA: typeDDIA}"></p>
        </div>
    </div>

    <!--Footer-->
    <div class="modal-footer justify-content-center">
        <button type="button" mdbBtn color="success" class="waves-effect" mdbWavesEffect (click)="redirect()">OK</button>
    </div>
</div>