<ngx-ui-loader [loaderId]="loaderId"></ngx-ui-loader>
<div class="d-flex flex-column flex-sm-column flex-md-column flex-lg-column flex-xl-column mt-2 mb-3" [formGroup]="aicForm" *ngIf="dataLoaded">
    <div class="d-flex flex-column">
        <h1 class="ddia-title"> {{'DDIAFORMS.aic.title' | translate}} </h1>
        <div class="container mb-3">
            <app-list-states-box [currentState]="demandeAIC.state"></app-list-states-box>
        </div>
        <div class="container" *ngIf="labelTargetNationalInf">
            <div class="bg-white">
                <blockquote class="blockquote text-center bq-primary">
                    <p class="bq-title">{{labelTargetNationalInf | translate}}</p>
                </blockquote>
            </div>
        </div>
        <mdb-carousel [isControls]="true" [interval]="'0'" [animation]="'slide'">
            <mdb-carousel-item>
                <div class="ddia-form">
                    <div class="container-fluid">
                        <div class="form-group">
                            <input type="text" placeholder="Date and time of deposit" class="form-control" [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1" formControlName="depositDateTime">
                            <owl-date-time #dt1></owl-date-time>
                        </div>
                        <app-source-unit-form [locationInd]="demandeAIC.locationIndicator" [initiatorInfos]="initiatorInfos" [unit]="demandeAIC.sourceUnit"></app-source-unit-form>
                        <label for="subject" class="custom-label">{{'DDIAFORMS.aic.subject.label' | translate}}:</label>
                        <div class="d-flex flex-wrap justify-content-between">
                            <div class="custom-control custom-radio" *ngFor="let choice of subjectChoices; let index=index;">
                                <input [id]="'subjectchoice'+index" class="custom-control-input" type="radio" [value]="choice.val" formControlName="subject">
                                <label [for]="'subjectchoice'+index" class="custom-control-label">{{ choice.label | translate }}</label>
                            </div>
                        </div>
                        <div class="form-group mb-2">
                            <label for="object" class="custom-label">{{'DDIAFORMS.aic.object' | translate }}</label>
                            <input type="text" id="object" formControlName="object" class="form-control" />
                        </div>
                    </div>
                </div>
            </mdb-carousel-item>
            <mdb-carousel-item>
                <div class="ddia-form">
                    <div class="container-fluid">
                        <div class="form-group">
                            <label for="descText" class="custom-label">{{'DDIAFORMS.aic.text' | translate }}</label>
                            <textarea class="form-control" formControlName="text" id="descText" cols="30" rows="5"></textarea>
                        </div>
                    </div>
                </div>
            </mdb-carousel-item>
        </mdb-carousel>
    </div>
    <app-history-box [history]="demandeAIC.history"></app-history-box>

    <div class="d-flex flex-wrap justify-content-around mt-4" *ngIf="demandeAIC.state === objectDefaultState">
        <button type="button" mdbBtn color="danger" mdbWavesEffect (click)="openRejectModal()">
            {{'DDIAFORMS.buttons.rejectadmitddia' | translate }}
        </button>
        <button mdbBtn type="button" color="primary" mdbWavesEffect (click)="openOKModal()">
            {{'DDIAFORMS.buttons.admitokddia' | translate }}
        </button>
    </div>


</div>