<div class="background-form">
    <div>
        <img src="/assets/images/ccaa.png" height="100" alt="CCAA LOGO">
    </div>

    <div class="card-form">
        <h2 class="form-title">{{'AUTHFORMS.PASSWORDRESET1.title' | translate }}</h2>
        <div class="alert alert-danger" role="alert" *ngFor="let err of errors">
            {{ err | translate }}
        </div>
        <p class="text-helper">
            {{'AUTHFORMS.PASSWORDRESET1.textHelper' | translate}}
        </p>
        <form [formGroup]="emailForm">
            <div class="form-group mb-5">
                <input type="text" formControlName="email" class="form-control cust-input" placeholder="{{'AUTHFORMS.PASSWORDRESET1.email' | translate }}" />
                <app-control-messages [control]="emailForm.controls.email"></app-control-messages>
            </div>
            <div class="form-group">
                <button [disabled]="emailForm.invalid || loading" class="custom-btn m-auto" mdbBtn type="button" color="deep-purple" mdbWavesEffect (click)="submit()">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm"></span>&nbsp;
                    {{'AUTHFORMS.PASSWORDRESET1.submitBtn' | translate }}                    
                </button>
                <!-- <button [disabled]="emailForm.invalid" class="btn btn-blue btn-flat" (click)="submit()">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    {{'AUTHFORMS.PASSWORDRESET1.submitBtn' | translate }}
                </button> -->
            </div>
        </form>
    </div>
</div>