.text-helper {
    color: #150734;
    font-size: 14px;
    text-align: center;
}

// .custom-btn {
//     border-radius: 30px;
//     font-weight: bold;
//     min-width: 140px;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
// }