.pretty-background {
    padding-top: 20px;
    background-color: #f3f1f6;
    box-shadow: 4px 3px 4px 4px #1507346e;
    margin-top: 20px;
    margin-bottom: 20px;
}

.label-title {
    font-size: 25px;
    text-align: center;
    font-weight: bold;
}