<div class="container-fluid">
    <div class="whitebg  background-gradient">
        <div class="d-flex flex-column flex-sm-column flex-md-column flex-lg-column flex-xl-column">
            <div class="d-flex flex-row">
                <button class="large-btn" routerLink="/admin/structsource/sourceeltscreate" routerLinkActive="active">{{'STRUCTURESSOURCES.saving' | translate }}</button>
                <button class="large-btn" routerLink="/admin/structsource/sourceeltslist" routerLinkActive="active">{{'STRUCTURESSOURCES.list' | translate }}</button>
            </div>
            <div class="container-fluid pt-5 pb-5">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>