<div class="modal-content text-center">
    <!--Header-->
    <div class="modal-header d-flex justify-content-center">
        <p class="heading">ERROR</p>
    </div>

    <!--Body-->
    <div class="modal-body">
        <mdb-icon fas icon="times" size="3x" class="animated rotateIn"></mdb-icon>
        <p class="lead red-text" translate>{{contentText | translate}}</p>
    </div>

    <!--Footer-->
    <div class="modal-footer justify-content-center">
        <button mdbBtn color="danger" outline="true" class="waves-effect" mdbWavesEffect (click)="modalRef.hide()">
            OK
        </button>
    </div>
</div>