<a style="text-decoration: none;" [routerLink]="['/'+pathToExtend, id]">
    <div class="ddia-item-box">
        <div class="d-flex flex-column p-l-15">
            <div class="mb-1">
                <h4 class="text-gradient">{{typeDDIA}} <span *ngIf="type">({{type}})</span>&nbsp;[{{state}}]</h4>
            </div>
            <div class="text-one-line bold-italic mb-2">
                {{ 'ddialist.reference' | translate }}: {{reference}}
            </div>
            <div class="text-one-line mb-2" translate [translateParams]="{unitname: unitname, airportname: airportname }">
                ddialist.ddiaitem.init
            </div>
            <div class="text-one-line mb-2" *ngIf="object">
                {{'DDIAFORMS.object' | translate }}: {{object}}
            </div>
            <div class="text-one-line mb-2">
                {{'DDIAFORMS.descText' | translate }}: {{text}}
            </div>
            <div class="d-flex flex-column mb-2" *ngIf="validityPeriodStart && validityPeriodEnd">
                <div>{{'DDIAFORMS.valPeriod' | translate }} <span *ngIf="periodType">({{periodType}})</span></div>
                <div class="d-flex flex-wrap justify-content-between">
                    <span class="text-one-line val-period-date"> {{ validityPeriodStart | date : 'dd/MM/yyyy, hh:mm a'}}</span>
                    <span class="text-one-line val-period-date">{{ validityPeriodEnd | date : 'dd/MM/yyyy, hh:mm a' }}</span>
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <div class="date">
                    <small>{{action | translate }} &nbsp; {{actionDate  | date : 'dd/MM/yyyy, hh:mm a'}}</small>
                </div>
            </div>
        </div>
    </div>
</a>