<div class="background-form">
    <div>
        <img src="/assets/images/ccaa.png" height="100" alt="CCAA LOGO">
    </div>

    <div class="card-form">
        <h2 class="form-title">{{'AUTHFORMS.LOGIN.title' | translate }}</h2>
        <div class="alert alert-danger" role="alert" *ngFor="let err of errors">
            {{ err | translate }}
        </div>
        <form [formGroup]="loginForm">
            <div class="form-group mb-5">
                <input type="text" formControlName="usernameoremail" class="form-control cust-input" [ngClass]="{'red-border' : loginForm.controls.usernameoremail.invalid && loginForm.controls.usernameoremail.dirty}" placeholder="{{'AUTHFORMS.LOGIN.emailorusername' | translate }}"
                />
                <app-control-messages [control]="loginForm.controls.usernameoremail"></app-control-messages>
            </div>
            <div class="form-group mb-5">
                <input [type]="showPassword ? 'text' : 'password'" formControlName="password" class="form-control cust-input" [ngClass]="{'red-border' : loginForm.controls.password.invalid && loginForm.controls.password.dirty}" placeholder="{{'AUTHFORMS.LOGIN.password' | translate }}"
                />
                <i [ngClass]="showPassword ? 'fa fa-eye field-icon' : 'fa fa-eye-slash field-icon'" (click)="togglePasswordVisibility()"></i>
                <app-control-messages [control]="loginForm.controls.password"></app-control-messages>
            </div>
            <div class="form-group">
                <button [disabled]="loginForm.invalid" (click)="submit()" class="custom-btn m-auto" mdbBtn type="button" color="deep-purple" mdbWavesEffect>
                   <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span><div>{{'AUTHFORMS.LOGIN.submitBtn' | translate }}</div>
                </button>
            </div>
            <div class="row text-center">
                <div class="col-md-9 m-auto">
                    <a routerLink="/auth/requestpasswordreset" class="small-link">{{'AUTHFORMS.LOGIN.passwordForgottenLink' | translate }}</a>
                </div>
            </div>
        </form>
    </div>
</div>