<ngx-ui-loader [loaderId]="loaderId"></ngx-ui-loader>
<div class="d-flex flex-column flex-sm-column flex-md-column flex-lg-column flex-xl-column mt-2 mb-3" [formGroup]="aicForm" *ngIf="dataLoaded">
    <div class="d-flex flex-column">
        <h1 class="ddia-title">
            <app-back-to-prec-page></app-back-to-prec-page>{{'DDIAFORMS.aic.title' | translate}} &nbsp;({{demandeAIC.identDDIA}})
        </h1>
        <div class="container mb-3">
            <app-list-states-box [currentState]="demandeAIC.state" [historyItems]="demandeAIC.history"></app-list-states-box>
        </div>
        <mdb-carousel [isControls]="true" [interval]="'0'" [animation]="'slide'">
            <mdb-carousel-item>
                <div class="ddia-form">
                    <div class="container-fluid">
                        <div class="form-group">
                            <label for="date-time" class="custom-label">{{'DDIAFORMS.depositDateTime' | translate }}</label>
                            <input type="text" id="date-time" class="form-control" [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1" formControlName="depositDateTime">
                            <owl-date-time #dt1></owl-date-time>
                        </div>
                        <app-source-unit-form [locationInd]="demandeAIC.locationIndicator" [initiatorInfos]="initiatorInfos" [unit]="demandeAIC.sourceUnit"></app-source-unit-form>
                        <label for="subject" class="custom-label">{{'DDIAFORMS.aic.subject.label' | translate}}:</label>
                        <div class="d-flex flex-wrap justify-content-between">
                            <div class="custom-control custom-radio" *ngFor="let choice of subjectChoices; let index=index;">
                                <input [id]="'subjectchoice'+index" class="custom-control-input" type="radio" [value]="choice.val" formControlName="subject">
                                <label [for]="'subjectchoice'+index" class="custom-control-label">{{ choice.label | translate }}</label>
                            </div>
                        </div>
                        <div class="form-group mb-2">
                            <label for="object" class="custom-label">{{'DDIAFORMS.aic.object' | translate }}</label>
                            <input type="text" id="object" formControlName="object" class="form-control" />
                        </div>
                    </div>
                </div>
            </mdb-carousel-item>
            <mdb-carousel-item>
                <div class="ddia-form">
                    <div class="container-fluid">
                        <div class="form-group">
                            <label for="descText" class="custom-label">{{'DDIAFORMS.aic.text' | translate }}</label>
                            <textarea class="form-control" formControlName="text" id="descText" cols="30" rows="5"></textarea>
                        </div>
                        <div class="d-flex flex-column">
                            <label class="custom-label">{{'DDIAFORMS.aic.files' | translate }}</label>
                            <div class="d-flex flex-wrap justify-content-between">
                                <app-file-display *ngFor="let attachment of demandeAIC.attachments" [attachment]="attachment"></app-file-display>
                            </div>
                        </div>
                    </div>
                </div>
            </mdb-carousel-item>
        </mdb-carousel>
    </div>
    <div *ngIf="demandeAIC.requestReferrals">
        <app-referral-message [referrals]="demandeAIC.requestReferrals"></app-referral-message>
    </div>

    <div class="d-flex flex-wrap justify-content-around mt-4" *accessControl="user; toDoAction: [toDoAction, 'submittoverify']; ddiaState: demandeAIC.state; initiatorUserId: demandeAIC.initiator.id">
        <button type="button" mdbBtn color="danger" mdbWavesEffect (click)="openCancelConfirmModal()">
            {{'DDIAFORMS.buttons.cancelddia' | translate }}
        </button>
        <button mdbBtn type="button" color="warning" mdbWavesEffect (click)="goToModif()">
            MODIF
        </button>
        <button mdbBtn type="button" color="primary" mdbWavesEffect (click)="openOKModal()">
            {{'DDIAFORMS.buttons.sourcesubmitddia' | translate }}
        </button>
    </div>

    <div class="d-flex flex-wrap justify-content-around mt-4" *accessControl="user; toDoAction: [toDoAction, 'verification']; ddiaState: demandeAIC.state;">
        <button type="button" mdbBtn color="danger" mdbWavesEffect (click)="openRejectModal(controlActorService.verifyDDIA)">
            {{'DDIAFORMS.buttons.rejectverifddia' | translate }}
        </button>
        <button mdbBtn type="button" color="primary" mdbWavesEffect (click)="openOKModal()">
            {{'DDIAFORMS.buttons.verifokddia' | translate }}
        </button>
    </div>

    <div class="d-flex flex-wrap justify-content-around mt-4" *accessControl="user; toDoAction: [toDoAction, 'validation']; ddiaState: demandeAIC.state;">
        <button type="button" mdbBtn color="danger" mdbWavesEffect (click)="openRejectModal(controlActorService.validateDDIA)">
            {{'DDIAFORMS.buttons.rejectvalidateddia' | translate }}
        </button>
        <button mdbBtn type="button" color="primary" mdbWavesEffect (click)="openOKModal()">
            {{'DDIAFORMS.buttons.validateokddia' | translate }}
        </button>
    </div>

    <div class="d-flex flex-wrap justify-content-around mt-4" *accessControl="user; toDoAction: [toDoAction, 'approbation']; ddiaState: demandeAIC.state;">
        <button type="button" mdbBtn color="danger" mdbWavesEffect (click)="openRejectModal(controlActorService.approveDDIA)">
            {{'DDIAFORMS.buttons.rejectapproveddia' | translate }}
        </button>
        <button mdbBtn type="button" color="primary" mdbWavesEffect (click)="openOKModal()">
            {{'DDIAFORMS.buttons.approveokddia' | translate }}
        </button>
    </div>

    <div class="d-flex flex-wrap justify-content-around mt-4" *accessControl="user; toDoAction: [toDoAction, 'publish']; ddiaState: demandeAIC.state;">
        <button type="button" mdbBtn color="warning" mdbWavesEffect (click)="openRelanceConfirmModal()">
            {{'DDIAFORMS.buttons.relance' | translate }}
        </button>
        <button mdbBtn type="button" color="primary" mdbWavesEffect (click)="openPublishSetModal()">
            {{'DDIAFORMS.buttons.publish' | translate }}
        </button>
    </div>
    <div class="container mb-3">
        <div class="row bg-white">
            <button mdbBtn color="primary" outline="true" class="waves-light m-auto" type="button" (click)="historyBox.toggle()" mdbWavesEffect>
                {{'DDIAFORMS.history' | translate}} &nbsp; <mdb-icon fas [icon]="historyBox.isCollapsed ? 'caret-down' : 'caret-up'"></mdb-icon>
            </button>
        </div>
    </div>
    <div mdbCollapse #historyBox>
        <app-history-box [history]="demandeAIC.history"></app-history-box>
    </div>
</div>