<div class="d-flex flex-column flex-sm-column flex-md-column flex-lg-column flex-xl-column">
    <div class="d-flex flex-wrap justify-content-around mt-2">
        <button routerLink="/source/initddia/forms/notam" routerLinkActive="active" class="rounded-pretty-btn">NOTAM</button>
        <button routerLink="/source/initddia/forms/suppaip" routerLinkActive="active" class="rounded-pretty-btn">SUPP AIP</button>
        <button routerLink="/source/initddia/forms/aic" routerLinkActive="active" class="rounded-pretty-btn">AIC</button>
    </div>
    <div>
        <router-outlet></router-outlet>
    </div>
</div>