.large-btn {
    width: 100%;
    min-height: 40px;
    background-color: #0F2557;
    // border-radius: 10px;
    border: none;
    text-align: center;
    color: #F3F1F6;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 20px;
    padding-right: 20px;
}

.large-btn:focus {
    outline: none;
}

.large-btn.active {
    background-color: #0099CC;
}

.whitebg {
    margin-top: 20px;
    background-color: #F3F1F6;
    box-shadow: 4px 3px 4px 4px #1507346e;
    margin-bottom: 20px;
}

// @media (max-width: 500px) {
//     .whitebg {
//         overflow: scroll;
//     }
// }