<div class="container-fluid">
    <div class="whitebg">
        <div class="d-flex flex-column flex-sm-column flex-md-column flex-lg-column flex-xl-column">
            <div>
                <div class="d-flex flex-row">
                    <button class="large-btn" routerLink="/source/initddia/forms" routerLinkActive="active">{{'AGENTSOURCE.initDDIA.forms' | translate }}</button>
                    <button class="large-btn" routerLink="/source/initddia/cloneddia" routerLinkActive="active">{{'AGENTSOURCE.initDDIA.dupliqDDIA' | translate }}</button>
                </div>
            </div>

            <div class="d-flex flex-column flex-sm-column flex-md-column flex-lg-column flex-xl-column">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>