<div class="container-fluid">
    <div class="d-flex flex-wrap justify-content-around mb-4">
        <button (click)="setActive('units')" [ngClass]="{'active': activeElt == 'units'}" class="rounded-pretty-btn">{{'SOURCEUNIT.designation' | translate }}</button>
        <button (click)="setActive('aerodromes')" [ngClass]="{'active': activeElt == 'aerodromes'}" class="rounded-pretty-btn">{{'STRUCTURESSOURCES.designation' | translate }}</button>
    </div>
    <div *ngIf="activeElt == 'aerodromes'">
        <app-list-aerodromes></app-list-aerodromes>
    </div>
    <div *ngIf="activeElt == 'units'">
        <app-list-units></app-list-units>
    </div>
</div>