<div class="container-fluid">
    <div class="d-flex flex-wrap justify-content-around mb-4">
        <button routerLink="/admin/structsource/sourceeltslist/units" routerLinkActive="active" class="rounded-pretty-btn">{{'SOURCEUNIT.designation' | translate }}</button>
        <button routerLink="/admin/structsource/sourceeltslist/aerodromes" routerLinkActive="active" class="rounded-pretty-btn">{{'STRUCTURESSOURCES.designation' | translate }}</button>
    </div>
    <div class="container-fluid pt-5 pb-5">
        <router-outlet></router-outlet>
    </div>
</div>