.pretty-head {
    background-color: #0d0520;
    color: white;
    height: 60px;
}

.roundedbtn {
    border-radius: 30px;
    font-weight: bold;
    min-width: 140px;
    height: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.table-responsive {
    background-color: whitesmoke;
}

.table-responsive td {
    white-space: nowrap
}

.table-responsive th {
    white-space: nowrap
}