<div class="modal-content">
    <div class="modal-header">
        <h4 class="heading">EDIT</h4>
        <a type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true" class="text-white">&times;</span>
        </a>
    </div>
    <div class="modal-body">
        <div class="alert alert-danger" role="alert" *ngFor="let err of errors">
            {{err}}
        </div>
        <form [formGroup]="aerodromeForm">
            <div class="form-group mt-5 mb-4">
                <input type="text" formControlName="name" class="form-control" placeholder="{{'STRUCTURESSOURCES.name' | translate }}" />
                <app-control-messages [control]="aerodromeForm.controls.name"></app-control-messages>
            </div>
            <div class="form-group mb-4">
                <input type="text" formControlName="locationInd" class="form-control" placeholder="{{'STRUCTURESSOURCES.locationInd' | translate }}" />
                <app-control-messages [control]="aerodromeForm.controls.locationInd"></app-control-messages>
            </div>
            <div class="form-group mb-4" style="margin-left: 20px; position: relative;">
                <mdb-checkbox formControlName="isConceded"><span style="bottom: 2px;position: absolute; font-weight: bold; color: gray;">{{'STRUCTURESSOURCES.isconceded' | translate }}</span> </mdb-checkbox>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" mdbBtn color="info" outline="true" class="waves-effect" mdbWavesEffect data-dismiss="modal" (click)="modalRef.hide()">{{'MODAL.cancel' | translate}}</button>
        <button [disabled]="aerodromeForm.invalid || loading" type="button" mdbBtn color="info" class="waves-effect" mdbWavesEffect (click)="submit()">
            <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> &nbsp; {{'STRUCTURESSOURCES.submitBtn' | translate }}                    
        </button>
    </div>
</div>