<div class="table-responsive">
    <ngx-ui-loader [loaderId]="loaderId"></ngx-ui-loader>
    <table mdbTable #tableEl="mdbTable" class="z-depth-1">
        <thead class="pretty-head">
            <tr>
                <th *ngFor="let head of headUnitsElements" class="text-center text-one-line" scope="col">{{head | translate}} </th>
            </tr>
        </thead>
        <tbody>
            <tr mdbTableCol *ngFor="let unit of units; let i=index;">
                <th *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" scope="row">{{unit.name}}</th>
                <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{unit.email}}</td>
                <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{unit.address}}</td>
                <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{unit.fax}}</td>
                <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{unit.phonenumber}}</td>
                <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex"></td>
                <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{unit.aerodromeName}}</td>
                <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex"><button mdbBtn type="button" class="roundedbtn" (click)="editUnit(unit)" color="amber" mdbWavesEffect>{{'UpdateDelete.editBtn' | translate}}</button></td>
                <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex"><button mdbBtn type="button" class="roundedbtn" disabled (click)="deleteUnit(unit)" color="danger" mdbWavesEffect>{{'UpdateDelete.deleteBtn' | translate}}</button></td>
            </tr>
        </tbody>
        <tfoot class="grey lighten-5 w-100">
            <tr>
                <td colspan="4">
                    <mdb-table-pagination [tableEl]="tableEl" [searchDataSource]="units"></mdb-table-pagination>
                </td>
            </tr>
        </tfoot>
    </table>
</div>