<div class="background-form">
    <div>
        <img src="/assets/images/ccaa.png" height="100" alt="CCAA LOGO">
    </div>

    <div class="card-form">
        <h2 class="form-title">{{'AUTHFORMS.CODERESEND.title' | translate }}</h2>
        <div class="alert alert-danger" role="alert">
            This is a danger alert—check it out!
        </div>
        <p class="text-helper">
            {{'AUTHFORMS.CODERESEND.textHelper' | translate}}
        </p>
        <form [formGroup]="emailForm">
            <div class="form-group mb-5">
                <input type="text" formControlName="email" class="form-control cust-input" [ngClass]="{'red-border' : emailForm.controls.email.invalid && emailForm.controls.email.dirty}" placeholder="{{'AUTHFORMS.CODERESEND.email' | translate }}" />
                <app-control-messages [control]="emailForm.controls.email"></app-control-messages>
            </div>
            <div class="form-group">
                <button [disabled]="emailForm.invalid" class="custom-btn m-auto" mdbBtn type="button" color="deep-purple" mdbWavesEffect>
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    {{'AUTHFORMS.CODERESEND.submitBtn' | translate }}                    
                </button>
                <!-- <button [disabled]="emailForm.invalid" class="btn btn-blue btn-flat" (click)="submit()">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    {{'AUTHFORMS.PASSWORDRESET1.submitBtn' | translate }}
                </button> -->
            </div>
        </form>
    </div>
</div>