<!-- <div class="background-form">
    <div>
        <img src="/assets/images/ccaa.png" height="100" alt="CCAA LOGO">
    </div>

    <div class="card-form">
        <h2 class="form-title">{{'AUTHFORMS.PASSWORDCHANGE.title' | translate }}</h2>

        <form [formGroup]="passwordChangeForm">
            <div class="form-group mb-4">
                <input [type]="showOldPassword ? 'text' : 'password'" formControlName="oldPassword" class="form-control cust-input" placeholder="{{'AUTHFORMS.PASSWORDCHANGE.oldpassword' | translate }}" [ngClass]="{'red-border' : passwordChangeForm.controls.oldPassword.invalid && passwordChangeForm.controls.oldPassword.dirty}">
                <i [ngClass]="showOldPassword ? 'fa fa-eye field-icon' : 'fa fa-eye-slash field-icon'" (click)="toggleOldPasswordVisibility()"></i>
                <app-control-messages [control]="passwordChangeForm.controls.oldPassword"></app-control-messages>
            </div>
            <div class="form-group mb-4">
                <input [type]="showNewPassword ? 'text' : 'password'" formControlName="newPassword" class="form-control cust-input" placeholder="{{'AUTHFORMS.PASSWORDCHANGE.newpassword' | translate }}" [ngClass]="{'red-border' : passwordChangeForm.controls.newPassword.invalid && passwordChangeForm.controls.newPassword.dirty}">
                <i [ngClass]="showNewPassword ? 'fa fa-eye field-icon' : 'fa fa-eye-slash field-icon'" (click)="toggleNewPasswordVisibility()"></i>
                <app-control-messages [control]="passwordChangeForm.controls.newPassword"></app-control-messages>
            </div>
            <div class="form-group mb-5">
                <input [type]="showConfNewPassword ? 'text' : 'password'" formControlName="confirmNewPassword" class="form-control cust-input" placeholder="{{'AUTHFORMS.PASSWORDCHANGE.confirmnewpassword' | translate }}" [ngClass]="{'red-border' : passwordChangeForm.controls.confirmNewPassword.invalid && passwordChangeForm.controls.confirmNewPassword.dirty}">
                <i [ngClass]="showConfNewPassword ? 'fa fa-eye field-icon' : 'fa fa-eye-slash field-icon'" (click)="toggleConfNewPasswordVisibility()"></i>
                <app-control-messages [control]="passwordChangeForm.controls.confirmNewPassword"></app-control-messages>
            </div>
            <div class="form-group">
                <button [disabled]="passwordChangeForm.invalid" class="custom-btn m-auto" mdbBtn type="button" color="deep-purple" mdbWavesEffect>
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    {{'AUTHFORMS.PASSWORDCHANGE.submitBtn' | translate }}
                </button>

            </div>
        </form>
    </div>
</div> -->