<div class="table-responsive">
    <ngx-ui-loader [loaderId]="loaderId"></ngx-ui-loader>
    <table mdbTable #tableEl="mdbTable" class="z-depth-1">
        <thead class="pretty-head">
            <tr>
                <th *ngFor="let head of headAerodromeElements" class="text-one-line" scope="col">{{head | translate}} </th>
            </tr>
        </thead>
        <tbody>
            <tr mdbTableCol *ngFor="let aerodrome of aerodromes; let i=index;">
                <th *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" scope="row">{{aerodrome.name}}</th>
                <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{aerodrome.locationInd}}</td>
                <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex"><button mdbBtn type="button" class="roundedbtn" (click)="editAerodrome(aerodrome)" color="amber" mdbWavesEffect>{{'UpdateDelete.editBtn' | translate}}</button></td>
                <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex"><button mdbBtn type="button" class="roundedbtn" (click)="deleteAerodrome(aerodrome)" color="danger" mdbWavesEffect>{{'UpdateDelete.deleteBtn' | translate}}</button></td>
            </tr>
        </tbody>
        <tfoot class="grey lighten-5 w-100">
            <tr>
                <td colspan="4">
                    <mdb-table-pagination [tableEl]="tableEl" [searchDataSource]="aerodromes"></mdb-table-pagination>
                </td>
            </tr>
        </tfoot>
    </table>
</div>