<div class="background-form">
    <div>
        <img src="/assets/images/ccaa.png" style="border-radius: 50%;" height="100" alt="CCAA LOGO">
    </div>

    <div class="card-form">
        <h2 class="form-title">{{'AUTHFORMS.SIGNUPVERIF.title' | translate }}</h2>
        <div class="alert alert-danger" role="alert" *ngFor="let err of errors">
            {{ err | translate }}
        </div>
        <p class="text-helper">
            {{'AUTHFORMS.SIGNUPVERIF.textHelper' | translate}}
        </p>
        <form [formGroup]="signupVerifForm">

            <div class="form-group mb-5">
                <input type="text" formControlName="code" class="form-control cust-input" placeholder="Code" />
                <app-control-messages [control]="signupVerifForm.controls.code"></app-control-messages>
            </div>
            <div class="form-group">
                <button [disabled]="signupVerifForm.invalid || loading" (click)="submit()" class="custom-btn m-auto" mdbBtn type="button" color="deep-purple" mdbWavesEffect>
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    {{'AUTHFORMS.SIGNUPVERIF.submitBtn' | translate }}                
                </button>
            </div>
        </form>
    </div>
</div>