.vertical-overflow {
    overflow: auto;
    height: 800px;
    padding: 20px;
    margin: 10px;
}

.filters-box {
    padding: 25px;
    background-color: white;
    box-shadow: 4px 3px 5px rgba(0, 0, 0, 0.404);
    min-height: 400px;
}

.container-items {
    // box-shadow: 3px 3px 5px 4px rgba(0, 0, 0, 0.5);
    margin-right: 10px;
    border: 1px solid #15073431;
}