<ngx-ui-loader [loaderId]="loaderId"></ngx-ui-loader>
<div class="d-flex flex-column flex-sm-column flex-md-column flex-lg-column flex-xl-column mt-2 mb-3" [formGroup]="suppaipForm" *ngIf="demandeSUPP">
    <div class="d-flex flex-column">
        <h1 class="ddia-title">
            <app-back-to-prec-page></app-back-to-prec-page> {{'DDIAFORMS.suppaip.title' | translate}} &nbsp;({{demandeSUPP.identDDIA}})
        </h1>
        <div class="container mb-3">
            <app-list-states-box [currentState]="demandeSUPP.state" [historyItems]="demandeSUPP.history"></app-list-states-box>
        </div>
        <mdb-carousel [isControls]="true" [interval]="'0'" [animation]="'slide'">
            <mdb-carousel-item>
                <div class="ddia-form">
                    <div class="container-fluid">
                        <div class="form-group">
                            <label for="date-time" class="custom-label">{{'DDIAFORMS.depositDateTime' | translate }}</label>
                            <input type="text" id="date-time" class="form-control" [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1" formControlName="depositDateTime">
                            <owl-date-time #dt1></owl-date-time>
                        </div>
                        <app-source-unit-form [locationInd]="demandeSUPP.locationIndicator" [initiatorInfos]="initiatorInfos" [unit]="demandeSUPP.sourceUnit"></app-source-unit-form>
                        <div class="form-group">
                            <label for="typeSUPPAIP" class="custom-label">{{'DDIAFORMS.suppaip.type' | translate}}:</label>
                            <div class="d-flex flex-wrap justify-content-between">
                                <div class="custom-control custom-radio">
                                    <input id="suppaipN" type="radio" class="custom-control-input" value="SUPP AIP N" formControlName="typeSUPPAIP">
                                    <label for="suppaipN" class="custom-control-label">SUPP AIP N</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input id="suppaipR" type="radio" class="custom-control-input" value="SUPP AIP R" formControlName="typeSUPPAIP">
                                    <label for="suppaipR" class="custom-control-label">SUPP AIP R</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group mb-1">
                            <label for="targetNOTAM" class="custom-label">{{'DDIAFORMS.suppaip.notamRcode' | translate }}</label>
                            <input type="text" id="targetNOTAM" formControlName="codeDDIAToReplace" class="form-control" />
                            <app-control-messages [control]="suppaipForm.controls.codeDDIAToReplace"></app-control-messages>

                        </div>
                        <div class="form-group mb-1">
                            <label for="object" class="custom-label">{{'DDIAFORMS.suppaip.object' | translate }}</label>
                            <input type="text" id="object" formControlName="object" class="form-control" />
                            <app-control-messages [control]="suppaipForm.controls.object"></app-control-messages>
                        </div>

                    </div>
                </div>
            </mdb-carousel-item>
            <mdb-carousel-item>
                <div class="ddia-form">
                    <div class="container-fluid">
                        <div formArrayName="aipTargetSectForm" class="form-group">
                            <div class="d-flex flex-column">
                                <label class="custom-label">{{'DDIAFORMS.suppaip.targetSection' | translate }}</label>
                                <div class="form-group" *ngFor="let aipTargetSect of aipTargetSections.controls;let i=index;">
                                    <div class="d-flex flex-row justify-content-start align-items-center">
                                        <input type="text" [formControl]="aipTargetSect" class="form-control" />
                                        <button type="button" mdbBtn color="primary" style="height: 38px;" mdbWavesEffect (click)="removeAIPTargetSection()" *ngIf="i !== 0">
                                            <mdb-icon fas icon="minus" size="lg"></mdb-icon>
                                        </button>
                                    </div>
                                    <app-control-messages [control]="aipTargetSect"></app-control-messages>
                                </div>
                                <div class="text-right">
                                    <button type="button" mdbBtn color="primary" mdbWavesEffect (click)="addAIPTargetSection()">
                                        <mdb-icon fas icon="plus" size="lg"></mdb-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="custom-label">{{'DDIAFORMS.suppaip.valPeriod' | translate }}</label>
                            <div class="form-group">
                                <input type="text" placeholder="Validity period" class="form-control" [owlDateTimeTrigger]="dtPicker" [owlDateTime]="dtPicker" formControlName="validityPeriod" [selectMode]="'range'">
                                <owl-date-time #dtPicker></owl-date-time>
                                <app-control-messages [control]="suppaipForm.controls.validityPeriod"></app-control-messages>
                            </div>

                            <div class="form-group">
                                <label for="descText" class="custom-label">{{'DDIAFORMS.suppaip.text' | translate }}</label>
                                <textarea class="form-control" formControlName="descriptionText" id="descText" cols="30" rows="7"></textarea>
                                <app-control-messages [control]="suppaipForm.controls.descriptionText"></app-control-messages>
                            </div>

                        </div>
                        <div formArrayName="filesForm" class="form-group">
                            <label class="custom-label">{{'DDIAFORMS.suppaip.files' | translate }}</label>
                            <div class="d-flex flex-wrap justify-content-between">
                                <app-file-display *ngFor="let attachment of demandeSUPP.attachments" [attachment]="attachment"></app-file-display>
                            </div>
                            <div *ngFor="let fileForm of files.controls;let index=index;">
                                <div [formGroupName]="index" class="d-flex flex-wrap justify-content-start align-items-center">
                                    <div>
                                        <button mdbBtn type="button" color="primary" mdbWavesEffect outline="true" style="height: 43px; overflow: hidden;" (click)="fileUpload.click()"> 
                                            <span>{{'DDIAFORMS.sourceunit.addfile' | translate }}&nbsp;<i class="fas fa-paperclip"></i></span>
                                            <input type="file" #fileUpload class="file-input" (change)="onFileSelected($event, fileForm)">
                                        </button>
                                    </div>
                                    <div>
                                        <input type="text" formControlName="filename" [disabled]="true" class="form-control">
                                    </div>
                                    <div>
                                        <button mdbBtn type="button" color="primary" mdbWavesEffect (click)="removeFileForm()" style="height: 43px;">
                                            <mdb-icon fas icon="minus" size="lg"></mdb-icon>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group mb-5">
                            <button mdbBtn type="button" color="primary" mdbWavesEffect (click)="addFileForm()">
                                <mdb-icon fas icon="plus" size="lg"></mdb-icon> &nbsp; {{'DDIAFORMS.buttons.plusonefile' | translate }}
                            </button>
                        </div>
                    </div>
                </div>
            </mdb-carousel-item>
        </mdb-carousel>
    </div>
    <div *ngIf="demandeSUPP.requestReferrals">
        <app-referral-message [referrals]="demandeSUPP.requestReferrals"></app-referral-message>
    </div>
    <div class="container mb-3">
        <div class="row bg-white">
            <button mdbBtn color="primary" outline="true" class="waves-light m-auto" type="button" (click)="historyBox.toggle()" mdbWavesEffect>
                {{'DDIAFORMS.history' | translate}} &nbsp; <mdb-icon fas [icon]="historyBox.isCollapsed ? 'caret-down' : 'caret-up'"></mdb-icon>
            </button>
        </div>
    </div>
    <div mdbCollapse #historyBox>
        <app-history-box [history]="demandeSUPP.history"></app-history-box>
    </div>
    <div class="d-flex flex-wrap justify-content-around mt-4" *ngIf="isOwner && canModify">
        <button type="button" mdbBtn color="danger" mdbWavesEffect (click)="openCancelConfirmModal()">
            {{'DDIAFORMS.buttons.cancelddia' | translate }}
        </button>
        <button type="button" [disabled]="suppaipForm.invalid || loadingSave" mdbBtn color="primary" mdbWavesEffect (click)="save()">
            <span *ngIf="loadingSave" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> &nbsp;{{'DDIAFORMS.buttons.save' | translate }} MODIF
        </button>
    </div>