<header>
    <mdb-navbar SideClass="navbar navbar-expand-md navbar-dark bg-white fixed-top indigo-text" [containerInside]="false" [iconBackground]="'indigo'">

        <mdb-navbar-brand>
            <a class="navbar-brand" [routerLink]="navLinks[0].url">
                <div class="d-flex flex-row align-items-center">
                    <img src="/assets/images/ccaa.png" class="rounded-circle z-depth-0" height="37" alt="CCAA">
                    <!-- <p class="h3-responsive">CCAA</p> -->
                </div>
            </a>
        </mdb-navbar-brand>

        <links>

            <ul class="navbar-nav mr-auto ml-5">

                <li class="nav-item dropdown" dropdown>

                </li>
            </ul>

            <ul class="navbar-nav ml-auto nav-flex-icons">
                <li class="nav-item mr-3">
                    <a class="nav-link" aria-expanded="false" style="position: relative;" routerLink="notifications">
                        <mdb-icon far icon="bell" size="lg" style="padding-top: 10px;" class="indigo-text" aria-hidden="true"></mdb-icon>
                        <span class="mybadge">2</span>
                    </a>
                </li>
                <li class="ml-3 mr-2">
                    <button mdbBtn class="roundedbtn" type="button" color="deep-purple" mdbWavesEffect (click)="logout()">{{'navbar.logout' | translate }}</button>
                </li>
            </ul>
        </links>

    </mdb-navbar>
    <!-- <nav class="navbar navbar-light bg-white fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" [routerLink]="navLinks[0].url">
                <div class="d-flex flex-row flex-sm-row flex-md-row flex-lg-row flex-xl-row align-items-center">
                    <img src="/assets/images/ccaa.png" height="30" alt="CCAA">
                    <p class="h3-responsive">CCAA</p>
                </div>
            </a>
            <ul class="navbar-nav d-flex flex-row flex-sm-row flex-md-row flex-lg-row flex-xl-row align-items-center">
                <li class="nav-item mr-5">
                    <a class="nav-link" aria-expanded="false" style="position: relative;">
                        <mdb-icon far icon="bell" size="lg" class="indigo-text pr-3" aria-hidden="true"></mdb-icon>
                        <span class="mybadge">2</span>
                    </a>
                </li>
                <li class="ml-3 mr-2">
                    <button mdbBtn class="roundedbtn" type="button" color="deep-purple" mdbWavesEffect (click)="logout()">{{'navbar.logout' | translate }}</button>
                </li>
            </ul>
        </div>
    </nav> -->
</header>

<div class="container-fluid" style="margin-top: 65px;">
    <div class="row">
        <div class="col-xl-3 col-md-3 col-lg-3 col-sm-4 col-12">
            <div class="container-left-box">
                <div class="profile-box d-flex flex-column flex-sm-column flex-md-column flex-lg-column flex-xl-column">
                    <div class="m-auto">
                        <img src="/assets/images/user.png" style="border-radius: 50%;" height="100" alt="profile">
                    </div>
                    <div class="overflow oneline text-center role-agent mb-1"> <span *ngIf="user.isStaff">Admin</span> </div>
                    <div class="overflow oneline text-center name-agent mb-1">{{user.function}}</div>
                    <div class="overflow oneline text-center name-agent mb-1">{{user.quality}}</div>
                    <div class="overflow oneline text-center name-agent mb-1">{{user.getAllName()}}</div>
                </div>
                <div class="d-flex flex-column flex-sm-column flex-md-column flex-lg-column flex-xl-column">
                    <a *ngFor="let navLink of navLinks;" class="d-flex align-items-center left-nav-item" [routerLink]="[navLink.url]" routerLinkActive="active">
                        <div class="mr-3"><i [class]="navLink.iconClass"></i></div>
                        <div class="overflow">{{navLink.name | translate}}</div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xl-9 col-md-9 col-lg-9 col-sm-8 col-12">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>