<div class="modal-content" style="background-color: #f3f1f6;">
    <!--Header-->
    <div class="modal-header">
        <p class="heading lead">PUBLICATION CONFIRMATION</p>

        <a type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true" class="white-text">&times;</span>
        </a>
    </div>

    <!--Body-->
    <div class="modal-body">
        <div class="text-center">
            <!-- <mdb-icon fas icon="times" size="4x" class="mb-3 animated rotateIn"></mdb-icon> -->
            <p translate [translateParams]="{typeDDIA: ddiaType}">MODAL.publish.helperText</p>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" [(ngModel)]="codeDDIA" />
        </div>
    </div>

    <!--Footer-->
    <div class="modal-footer justify-content-center">
        <button [disabled]="loading" mdbBtn color="primary" outline="true" class="waves-effect" mdbWavesEffect (click)="modalRef.hide()">
            {{'MODAL.cancel' | translate }}
        </button>
        <button [disabled]="isCodeDDIAInvalid() || loading" type="button" mdbBtn color="primary" class="waves-effect" mdbWavesEffect data-dismiss="modal" (click)="setPublishDDIA()">
            <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> &nbsp;{{'MODAL.ok' | translate }}
        </button>
    </div>
</div>