<blockquote class="blockquote" [ngClass]="decision === 'DDIAHistoryActions.ok' ? 'bq-success' : 'bq-danger'">
    <p class="bq-title mb-0" style="font-size: 18px; margin: 0; padding: 0;">{{ action | translate }}, {{ decision | translate }} {{ userInfos }} <br> {{ structureName }} </p>
    <!-- <ul *ngIf="modifsListDisplayed">
        <li *ngFor="let modif of modifsListDisplayed"> {{modif}} </li>
    </ul> -->
    <footer class="blockquote-footer mb-3">Date <cite title="Source Title"> {{ actionDate | date : 'dd/MM/yyyy, hh:mm a' }} </cite></footer>
    <hr>
</blockquote>