<div class="background-form">
    <div>
        <img src="/assets/images/ccaa.png" height="100" alt="CCAA LOGO">
    </div>

    <div class="card-form">
        <h2 class="form-title">{{'AUTHFORMS.EMAILCHANGECONFIRM.title' | translate }}</h2>
        <p class="text-helper">
            {{'AUTHFORMS.EMAILCHANGECONFIRM.textHelper' | translate}}
        </p>
        <form [formGroup]="confirmMailChangeForm">
            <div class="form-group mb-5">
                <input type="text" formControlName="code" class="form-control cust-input" [ngClass]="{'red-border' : confirmMailChangeForm.controls.code.invalid && confirmMailChangeForm.controls.code.dirty}" placeholder="Code" />
                <app-control-messages [control]="confirmMailChangeForm.controls.code"></app-control-messages>
            </div>
            <div class="form-group">
                <button [disabled]="confirmMailChangeForm.invalid" class="custom-btn m-auto" mdbBtn type="button" color="deep-purple" mdbWavesEffect>
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    {{'AUTHFORMS.EMAILCHANGECONFIRM.submitBtn' | translate }}                
                </button>
            </div>
        </form>
    </div>
</div>