<div class="container-fluid">
    <div class="whitebg background-gradient">
        <div class="d-flex flex-column flex-sm-column flex-md-column flex-lg-column flex-xl-column">
            <div class="d-flex flex-row">
                <button class="large-btn" routerLink="/admin/manageusers/userscreate" routerLinkActive="active">{{'ADMINISTRATEUR.usermanage.create' | translate }}</button>
                <button class="large-btn" routerLink="/admin/manageusers/userslist" routerLinkActive="active">{{'ADMINISTRATEUR.usermanage.list' | translate }}</button>
            </div>
            <div class="container-fluid pt-5 pb-5">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>