<div class="d-flex flex-column">
    <div class="card-form-small mb-5">
        <h2 class="form-title">{{'InformateurNational.title' | translate}}</h2>
        <div class="alert alert-danger" role="alert" *ngFor="let err of errors">
            {{err}}
        </div>
        <div class="alert alert-success" role="alert" *ngIf="createSuccess">
            {{'InformateurNational.createsuccess' | translate}}
        </div>
        <div [formGroup]="infNationalForm">
            <div class="form-group mb-4">
                <input type="text" formControlName="name" class="form-control" placeholder="{{'InformateurNational.name' | translate }}" />
                <app-control-messages [control]="infNationalForm.controls.name"></app-control-messages>
            </div>
            <div class="form-group mb-4">
                <input type="email" formControlName="email" class="form-control" placeholder="{{'InformateurNational.email' | translate }}" />
                <app-control-messages [control]="infNationalForm.controls.email"></app-control-messages>
            </div>
            <div class="form-group mb-4" style="margin-left: 20px; position: relative;">
                <mdb-checkbox formControlName="isAuthority"><span style="bottom: 2px;position: absolute; font-weight: bold;color: gray;">{{'InformateurNational.isauthority' | translate}}</span> </mdb-checkbox>
            </div>
            <div>
                <button mdbBtn [disabled]="infNationalForm.invalid || loading" type="button" class="roundedbtn m-auto" (click)="submit()" color="deep-purple" mdbWavesEffect>
                    <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>{{'InformateurNational.submitBtn' | translate}}
                </button>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <ngx-ui-loader [loaderId]="loaderId"></ngx-ui-loader>
        <table mdbTable>
            <thead class="pretty-head">
                <tr>
                    <th *ngFor="let head of headsInfNational" scope="col">{{ head | translate }} </th>
                </tr>
            </thead>
            <tbody>
                <tr mdbTableCol *ngFor="let elt of infnationaux">
                    <th scope="row">{{elt.id}}</th>
                    <td>{{elt.name}}</td>
                    <td>{{elt.email}}</td>
                    <td><button mdbBtn type="button" class="roundedbtn" (click)="edit(elt)" color="amber" mdbWavesEffect>{{'UpdateDelete.editBtn' | translate}}</button></td>
                    <td><button mdbBtn type="button" class="roundedbtn" disabled (click)="delete(elt.id)" color="danger" mdbWavesEffect>{{'UpdateDelete.deleteBtn' | translate}}</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>