/* You can add global styles to this file, and also import other style files */

@import "~ng-pick-datetime/assets/style/picker.min.css";
html,
body {
    height: 100%;
    width: 100%;
}

.ddia-item-round {
    border-radius: 10px;
    box-shadow: 4px 3px 3px 2px rgba(0, 0, 0, 0.404);
    background-color: #f3f1f6;
    min-width: 450px;
    min-height: 200px;
    font-family: 'Lucida Sans';
    border: none;
    padding: 20px;
    margin-bottom: 30px;
    margin-right: 10px;
    color: #150734;
    font-size: 14px;
    position: relative;
}

.idents-label {
    font-weight: bold;
    font-family: 'Lucida Sans';
    font-size: 16px;
}

.text-one-line {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.date {
    font-size: 12px;
    color: #150734;
    bottom: 0px;
    position: absolute;
}

.large-btn {
    width: 100%;
    min-height: 40px;
    // background-color: #0F2557;
    background-image: conic-gradient( #150734, #0F2557);
    // border-radius: 10px;
    border: none;
    text-align: center;
    color: #F3F1F6;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.large-btn:focus {
    outline: none;
}

.large-btn.active {
    // background-color: #0099CC;
    background-image: conic-gradient( #4B9FE1, #0099CC);
}

.whitebg {
    margin-top: 20px;
    background-color: #F3F1F6;
    box-shadow: 4px 3px 4px 4px #1507346e;
    margin-bottom: 20px;
}

.pretty-background {
    padding-top: 20px;
    background-color: #f3f1f6;
    box-shadow: 4px 3px 4px 4px #1507346e;
    margin-top: 20px;
    margin-bottom: 20px;
}

.label-title {
    font-size: 30px;
    text-align: center;
    // font-weight: bold;
    color: #0099CC;
    text-transform: uppercase;
    font-family: 'Showcard Gothic';
}

.pt-5 {
    padding-top: 15px;
}

.pb-5 {
    padding-bottom: 15px;
}

.background-gradient {
    background-image: url('/assets/images/form/avion.png'), conic-gradient( #F3F1F6, #4B9FE1, #F3F1F6, #150734ab);
    background-repeat: no-repeat;
    background-position: center;
}