/* You can add global styles to this file, and also import other style files */

@import "~ng-pick-datetime/assets/style/picker.min.css";
html,
body {
    height: 100%;
    width: 100%;
}

.large-btn {
    width: 100%;
    min-height: 40px;
    // background-color: #0F2557;
    background-image: conic-gradient( #150734, #0F2557);
    // border-radius: 10px;
    border: none;
    text-align: center;
    color: #F3F1F6;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.large-btn:focus {
    outline: none;
}

.large-btn.active {
    // background-color: #0099CC;
    background-image: conic-gradient( #4B9FE1, #0099CC);
}

// .whitebg {
//     margin-top: 20px;
//     background-color: #F3F1F6;
//     box-shadow: 4px 3px 4px 4px #1507346e;
//     margin-bottom: 20px;
// }
.pretty-background {
    padding-top: 20px;
    background-color: #f3f1f6;
    box-shadow: 4px 3px 4px 4px #1507346e;
    margin-top: 20px;
    margin-bottom: 20px;
    min-height: 600px;
}

.background-gradient {
    background-image: url('/assets/images/form/avion.png'), conic-gradient( #F3F1F6, #4B9FE1, #F3F1F6, #150734ab);
    background-repeat: no-repeat;
    background-position: center;
}